{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href={% static "userinfo/fonts/icomoon/style.css"%}>
  <link href={% static 'userinfo/fullcalendar/packages/core/main.css'%} rel='stylesheet' />
  <link href={% static 'userinfo/fullcalendar/packages/daygrid/main.css'%} rel='stylesheet' />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href={% static "userinfo/css/bootstrap.min.css" %}>

  <!-- Style -->
  <link rel="stylesheet" href={% static "userinfo/css/style.css" %}>
  <script src="https://kit.fontawesome.com/eba4b780d1.js" crossorigin="anonymous"></script>
  <title>Info</title>
</head>

<body>
  <script>
      var usermodel = {{ curuser|safe }}
      var dayoffmodel = {{ dayoff|safe }}
      var url = "{% static "agent_calendar/file/holiday.json" %}"
  </script>
  <div class="container">
    <div class="row my-3 align-items-center">
      <div class="col-md-2 text-center my-5">
        <i class="fa-solid fa-user fa-6x"></i>
      </div>
      <div class="col-md-2 text-center my-5">
        <h3 class="font-weight-bold">{{ user.username }}</h3>
        <h3 class="font-weight-bold" id="rank"></h3>
      </div>
      <div class="offset-md-2 col-md-6">
        <dl class="row text-center">
          <dt class="col-md-4">소집일</dt>
          <dd id="callup" class="col-md-8">yyyy-mm-dd</dd>
          <dt class="col-md-4">소집해제일</dt>
          <dd id="discharge" class="col-md-8">yyyy-mm-dd</dd>
        </dl>
      </div>
    </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="barWrapper">
        <span class="progressText"><B>복무일수</B></span>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          </div>
          <span class="popOver" data-toggle="tooltip" data-trigger="manual" data-placement="top" title="D-day"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 content">
      <h3 class="title font-weight-bold">남은 휴가</h3>
      <div class="dayoffcontainer align-items-center ">
        <dl class="row text-center dayoffgrid justify-content-center">
          <dt class="col-xs-5">1년차 연가: </dt>&nbsp
          <dd id="dayoff-first" class="col-xs-7 align-items-center">/15일</dd>
        </dl>
        <dl class="row text-center dayoffgrid justify-content-center">
          <dt class="col-xs-5">2년차 연가: </dt>&nbsp
          <dd id="dayoff-second" class="col-xs-7 align-items-center">/13일</dd>
        </dl>
        <dl class="row text-center dayoffgrid justify-content-center">
          <dt class="col-xs-5">병가: </dt>&nbsp
          <dd id="sickleave" class="col-xs-7 align-items-center">/30일</dd>
        </dl>
        <dl class="row text-center dayoffgrid justify-content-center">
          <dt class="col-xs-5">기타: </dt>&nbsp
          <dd id="etc" class="col-xs-7 align-items-center"></dd>
        </dl>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content">
        <div id='calendar'></div>
        <dl class="row justify-content-end" style="margin-top: 0.8rem;">
          <dt class="col-sm-4">예상 월급: </dt>
          <dd id="balance" class="col-sm-3">777,120</dd>
        </dl>
      </div>
    </div>
  </div>
  </div>


  <script src={% static "userinfo/js/jquery-3.3.1.min.js" %}></script>
  <script src={% static "userinfo/js/popper.min.js" %}></script>
  <script src={% static "userinfo/js/bootstrap.min.js" %}></script>
  <script src={% static 'userinfo/fullcalendar/packages/core/main.js' %}></script>
  <script src={% static 'userinfo/fullcalendar/packages/interaction/main.js' %}></script>
  <script src={% static 'userinfo/fullcalendar/packages/daygrid/main.js' %}></script>
  <script src={% static "userinfo/js/main.js" %}></script>
</body>

</html>