{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Agent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href={% static '/agent_calendar/css/style.css' %}>

	</head>
	<body>
    <input type="hidden" id="username" value={{ user.username }}>
	<section class="ftco-section">
		<div class="container">
            <div class="row justify-content-end small">
                <div class="col-xs-1 justify-content-end">
                    {% if user.is_authenticated %}
                    <a href="">{{ user.username }}</a> |
                    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden"/>
                    </form>
                    {% else %}
                        <a href="{% url 'signup' %}">회원가입</a> |
                        <a href="{% url 'login' %}">로그인</a>
                    {% endif %}
                </div>
            </div>
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">오늘의 휴가자: </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="content w-100">
				    <div class="calendar-container">
				      <div class="calendar"> 
				        <div class="year-header"> 
				          <span class="left-button fa fa-chevron-left" id="prev"> </span> 
				          <span class="year" id="label"></span> 
				          <span class="right-button fa fa-chevron-right" id="next"> </span>
				        </div> 
				        <table class="months-table w-100"> 
				          <tbody>
				            <tr class="months-row">
				              <td class="month">1월</td> 
				              <td class="month">2월</td> 
				              <td class="month">3월</td> 
				              <td class="month">4월</td> 
				              <td class="month">5월</td> 
				              <td class="month">6월</td> 
				              <td class="month">7월</td>
				              <td class="month">8월</td> 
				              <td class="month">9월</td> 
				              <td class="month">10월</td>          
				              <td class="month">11월</td>
				              <td class="month">12월</td>
				            </tr>
				          </tbody>
				        </table> 
				        
				        <table class="days-table w-100"> 
				          <td class="day">Sun</td> 
				          <td class="day">Mon</td> 
				          <td class="day">Tue</td> 
				          <td class="day">Wed</td> 
				          <td class="day">Thu</td> 
				          <td class="day">Fri</td> 
				          <td class="day">Sat</td>
				        </table> 
				        <div class="frame"> 
				          <table class="dates-table w-100"> 
			              <tbody class="tbody">             
			              </tbody> 
				          </table>
				        </div> 
				        <button class="button" id="add-button">휴가 입력</button>
				      </div>
				    </div>
				    <div class="events-container">
				    </div>
				    <div class="dialog" id="dialog">
				        <h2 class="dialog-header"> 휴가 등록 </h2>
				        <form class="form" id="form">
				          <div class="form-container" align="center">
                            <p><label class="form-label" id="valueFromMyButton" for="type">휴가 종류</label>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons" id="type">
                                  <label class="btn btn-outline-secondary active">
                                      <input type="radio" name="types" value="dayoff" autocomplete="off" checked> 연가
                                  </label>
                                  <label class="btn btn-outline-secondary">
                                      <input type="radio" name="types" value="sickleave" autocomplete="off"> 병가
                                  </label>
                                  <label class="btn btn-outline-secondary">
                                      <input type="radio" name="types" value="special" autocomplete="off"> 특별휴가
                                  </label>
                                  <label class="btn btn-outline-secondary">
                                      <input type="radio" name="types" value="public" autocomplete="off"> 공가
                                  </label>
                              </div></p>
				            <p><label class="form-label" id="valueFromMyButton" for="content">휴가 내용</label>
				            <input class="input" type="text" id="content" maxlength="36"></p>
                            <p><label class="form-label" id="valueFromMyButton" for="days">일수</label>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons" id="days">
                                  <label class="btn btn-outline-secondary active">
                                      <input type="radio" name="options" value="AM" autocomplete="off" checked> 오전
                                  </label>
                                  <label class="btn btn-outline-secondary">
                                      <input type="radio" name="options" value="PM" autocomplete="off"> 오후
                                  </label>
                                  <label class="btn btn-outline-secondary">
                                      <input type="radio" name="options" value="allday" autocomplete="off"> 하루
                                  </label>
                              </div></p>
				            <input type="button" value="Cancel" class="button" id="cancel-button">
				            <input type="button" value="OK" class="button button-white" id="ok-button">
				          </div>
				        </form>
				      </div>
				  </div>
				</div>
			</div>
		</div>
	</section>

	<script src={% static "/agent_calendar/js/jquery.min.js" %}></script>
  <script src={% static "/agent_calendar/js/popper.js" %}></script>
  <script src={% static "/agent_calendar/js/bootstrap.min.js" %}></script>
  <script src={% static "/agent_calendar/js/main.js" %}></script>

	</body>
</html>

