<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src={% static "/agent_calendar/js/Winwheel.js" %}></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<link rel="stylesheet" href={% static '/agent_calendar/css/style.css' %}>
    <title>Title</title>
</head>
<body>
    <script>
        var segment_init = [];
        var type = '{{ type }}';
        var csrf_token = '{{ csrf_token }}';
    </script>
    <section class="ftco-section">
        <div id="container" class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="heading-section">안진다는 마인드</h2>
                <h3 id="type">{{ type }}</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="justify-content-center" style="width: 400px; height: 400px" id="canvas-container">
                <canvas id="canvas" width="400" height="400">
                    당신의 브라우저가 이 기능을 지원하지 않습니다.
                </canvas>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                <button class="btn button" id="startbtn">돌리기</button>
                <button class="btn button" id="resetbtn">리셋</button>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-4 justify-content-center">
            <label class="col-form-label-lg justify-content-center" for="listgroup">참여자</label>
                <ul class="list-group" id="listgroup">
                    {% for name, isvalid in users.items %}
                        {% if isvalid %}
                        <li class="list-group-item">
                            <input class="form-check-input me-1" onclick="onCheck(this)" type="checkbox" value="{{ name }}"checked>
                            {{ name }}
                        </li>
                        <script>
                            segment_init.push({ name : '{{ name }}'});
                        </script>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </section>

<script src={% static "/agent_calendar/js/jquery.min.js" %}></script>
  <script src={% static "/agent_calendar/js/popper.js" %}></script>
  <script src={% static "/agent_calendar/js/bootstrap.min.js" %}></script>
<script src={% static "/agent_calendar/js/roulette.js" %}></script>
</body>
</html>